*{
	/*border: solid 1px black;*/
	-webkit-user-select: none ;
	-moz-user-select: none ;
	-ms-user-select: none ;
	-o-user-select: none ;
	user-select: none ;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*------------------common set-------------------*/


.clearfix:after, .row:after {
	content: "";
	display: table;
	clear: both;
}

li{
	list-style: none;
}

ul{
	margin: 0px;
	padding-left: 0px;
	font-size: 12px;
}

h1{
	text-transform: uppercase;
}

h2{
	text-transform: capitalize;
	font-size: 28px;
	text-align: center;
}

h3{
	font-size: 1.5rem;
}

h1, h2, h3{
	margin: 0;
}

p{
	margin: 30px 0;
	line-height: 1.5;
}

.btn{
	padding: 12px 23px;
	display: inline-block;

	text-transform: uppercase;
	background-color: #3fceff;
	text-decoration: none;
	border-radius: 30px;

	color: white;
	font-size: .2rem;
	letter-spacing: 1px;

	box-shadow: 0px 5px 3px rgba(0,0,0,.3);
}

.btn-unclick{
	padding: 12px 23px;
	display: inline-block;

	text-transform: uppercase;
	background-color: #fff;
	text-decoration: none;
	border-radius: 30px;
	border: solid 3px #3fceff;

	color: #3fceff;
	font-size: .2rem;
	letter-spacing: 1px;

	/*box-shadow: 0px 5px 3px rgba(0,0,0,.3);*/
}

section{
	padding: 80px 0;
}


/*----------------------Grid set-----------------------*/

.row{
	margin: 0 -15px;
}

.col-3{
	position: relative;
	float: left;

	width: 25%;
	margin: 5px;
	padding: 5px;
}

.col-4{
	position: relative;

	float: left;
	width: 33.33%;
	padding: 0 15px;
}

.col-6{
	position: relative;

	float: left;
	width: 50%;
	padding: 0 15px;
}

.col-6 h2{
	margin-bottom: 35px;
	font-size: 2.2rem;
}




/*----------------------main css-----------------------*/


/*=================navigator=================*/

#logo{
	float: left;
}

.container{
	display: block;
	width: 1180px;
	margin: 0 auto;
}

nav{
	float: right;
	line-height: 90px;

}

nav li{
	float: left;
}

nav a{
	padding: 0 21px;
	display: block;
	height: 100%;
	text-decoration: none;
	color: #333;
}

nav a:hover{
	/*background-color: #3FCEFF;*/
	color: #3FCEFF;
}



/*=================banner=================*/

.banner{
	width: 100%;
	background-image: url(http://lorempixel.com/1900/700/);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	text-align: center;
	padding: 235px 0;
	text-transform: uppercase;
}

.bannertitle{
	margin-bottom: 120px;	
	background-color: rgba(255,255,255,.5);
	padding: 50px;
}

.banner .intro-text, h1, .subtitle{
	/*text-shadow: 0px 0px 50px #eee;*/
}

.banner .intro-text{
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 4px;
}

.banner h1{
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 3px;
	margin: 0.3rem;
}

.banner .subtitle{
	font-size: 0.9rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0.8rem;
}



/*=================about=================*/

.video-wrapper{
	box-shadow: 20px 20px 0 rgba(0,0,0,.1);
/*	width: 95%;
	height: 300px;
	background-color: #ccc;

	position: absolute;
	right: 0;
*/	
}

.about .btn{
	position: absolute;
	bottom: -70px;
}

.about h2{
	text-align: left;
}


/*=================our skill=================*/

.ourskill h2{
	text-align: center;
	padding-bottom: 60px;
}

.progress-bar{
	width: 100%;
	height: 10px;

	margin: 15px 0;
	background-color: #d9d9d9;
}

.percentage{
	position: absolute;
	right: 0;
	top: -25px;
	right: -20px;
}

.red, .blue, .green, .yellow{
	position: relative;
	height: 10px;
}

.red{
	width: 87%;
	background-color: #F2545B;
}

.blue{
	width: 88%;
	background-color: #3fceff;
}

.green{
	width: 78%;
	background-color: #52aa8a;
}

.yellow{
	width: 89%;
	background-color: #F9CB40;
}



/*=================working process=================*/

#working-process{
	width: 100%;
	background-color: #f7f7f7;


	/*background-image: url(http://lorempixel.com/1900/325/);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;*/
}

#working-process h2{
	text-align: center;
	padding-bottom: 40px;
}


#working-process .col-3, .col-4{
	display: flex;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}

#working-process .row{
	display: flex;
	justify-content: space-between;
}


#working-process .col-3{
	text-align: center;
	/*margin: 8px;*/
	transition-duration: .5s;
	padding: 20px 5px;
}

#working-process .col-3:hover{
	border-bottom: 2px solid #3fceff;
	background-color: white;
	box-shadow: 0 0 20px rgba(201,201,201, .5)
}

#working-process i{
	color: #3fceff;
}

#working-process h3{
	padding-top: 20px;
	padding-bottom: 10px;
}

#working-process p{
	margin: 0 30px;
}



/*=================what we do=================*/

#whatwedo h2{
	text-align: center;
	padding-bottom: 60px;
}

#whatwedo .col-4{
	display: flex;
	flex-direction: row;
}

#whatwedo h3, p{
	margin: 10px 5px;
}

#whatwedo h3{
	font-size: 1.2rem;
}

#whatwedo .col-4:hover h3{
	color: #3fceff;
	transition-duration: .2s;
}

#whatwedo .col-4:hover i{
	color: #3fceff;
	transition-duration: .2s;
}

#whatwedo .wedothis{
	margin: 20px 10px;
}


/*=================achievement=================*/

#achievement{
	background-color: #333;
	color: white;
}

#achievement .row{
	display: flex;
	justify-content: space-between;
}

#achievement .col-3{
	text-align: center;
	transition-duration: .5s;
}

#achievement h3{
	margin: 10px;
}

#achievement p{
	font-size: 1.5rem;
	font-weight: bold;
}


/*=================our protfolio=================*/
/*
#ourportfolio h2{
	text-align: center;
}

#ourportfolio a{
	padding: 10px 20px;
	text-decoration: none;
	display: block;

	color: #cbcbcb;
}

#ourportfolio a:hover{
	color: #3fceff;
}

#ourportfolio ul{
	height: 40px;
	margin-top: 40px;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;

}

#ourportfolio li{
	float: left
}

.photo{
	background-color: #333;
	display: inline-flex;
	align-content: flex-start;
}

.photo .no1, .no2, .no4, .no6{
	width: 390px;
	height: 300px;
}

.photo .no3, .no5{
	width: 390px;
	height: 600px;
}

.photo .no7{
	width: 780px;
	height: 600px;
}

*/
/*=================price table=================*/

#pricetable {
	background-color: #fafafa;
}

#pricetable .row{
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
}

#pricetable .col-3{
	text-align: center;
	background-color: #fff;
	box-shadow: 0 0 6px rgba(0,0,0,.6)
	margin: -5px;
	transition-duration: .5s;
}

#pricetable .col-3:hover{
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,.6)
}

#pricetable .col-3:hover .price{
	background-color: #2fceff;
	color: #fff;
}

#pricetable .col-3:hover .btn-unclick{
	background-color: #3fceff;
	color: white;
}

#pricetable h2{
	padding-bottom: 60px;
}

#pricetable h3{
	padding: 10px;
	margin: 20px;

	letter-spacing: 2px
}

#pricetable .price{
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;

	margin: 0 -5px;
	background-color: #f1f1f1;
}

#pricetable p{
	font-size: 3rem;
}

#pricetable ul{
	margin: 35px 15px;
}

#pricetable li{
	line-height: 2.8rem;
}

#pricetable .detail{
	border-bottom: solid 3px #f9f9f9;
	margin: 0 -5px;
}

#pricetable .buy{
	margin: 25px;
}



/*=================our creative team=================*/

#ourteam h2{
	padding-bottom: 60px;
}

#ourteam h3{
	margin-top: 20px;
}

#ourteam .row{
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
}

#ourteam .col-3{
	box-shadow: 0 0 6px rgba(0,0,0,.6)
}

.crew{
	position: relative;
}

#ourteam .col-3:hover{
	box-shadow: 0 0 15px rgba(0,0,0,.6)
}

#ourteam .col-3:hover .info{
	display: block;
	transition-duration: .5s;
}

#ourteam .col-3:hover img{
	opacity: .5;
	transition-duration: .5s;
}

.info{
	height: 100%;
	top: 0px;
	position: absolute;

	text-align: center;
	flex-direction: column;
	display: none;

	margin: 17px -0px;
}

.info p{
	padding: 8px
}

.links a{
	text-decoration: none;
	color: #3fceff;

	width: 30px;
	height: 30px;

	border: solid 1px #3fceff;
	border-radius: 50% 50%;

	text-align: center;
	line-height: 30px;		
}

.links ul{
	display: inline-flex;

	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
}

.links li{
	margin: 8px;
}

















